logic-apps/create-annotation.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_an_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {}
                }
            }
        },
        "actions": {
            "Initialize_annotationId": {
                "runAfter": {},
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "annotationId",
                            "type": "string",
                            "value": "@{guid()}"
                        }
                    ]
                }
            },
            "Create_or_update_document": {
                "runAfter": {
                    "Initialize_annotationId": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "id": "@{variables('annotationId')}",
                        "matchId": "@{triggerBody()?['matchId']}",
                        "timestamp": "@{triggerBody()?['timestamp']}",
                        "annotationType": "@{triggerBody()?['annotationType']}",
                        "description": "@{triggerBody()?['description']}",
                        "coordinates": "@{triggerBody()?['coordinates']}",
                        "createdBy": "@{triggerBody()?['createdBy']}",
                        "createdAt": "@{utcNow()}"
                    },
                    "path": "/v2/cosmosdb/@{encodeURIComponent('sprot-113992')}/dbs/@{encodeURIComponent('MediaDB')}/colls/@{encodeURIComponent('TacticAnnotations')}/docs",
                    "headers": {
                        "x-ms-documentdb-partitionkey": "@{triggerBody()?['matchId']}"
                    }
                }
            },
            "Response": {
                "runAfter": {
                    "Create_or_update_document": [
                        "Succeeded"
                    ]
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "Content-Type": "application/json",
                        "Access-Control-Allow-Origin": "*",
                        "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
                        "Access-Control-Allow-Headers": "Content-Type"
                    },
                    "body": {
                        "success": true,
                        "message": "Annotation created successfully",
                        "annotationId": "@{variables('annotationId')}"
                    }
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "documentdb": {
                    "id": "/subscriptions/24c03302-6462-49e9-996c-ed5accc8d702/providers/Microsoft.Web/locations/francecentral/managedApis/documentdb",
                    "connectionId": "/subscriptions/24c03302-6462-49e9-996c-ed5accc8d702/resourceGroups/sportsmoments-france-rg/providers/Microsoft.Web/connections/documentdb-1",
                    "connectionName": "documentdb-1"
                }
            }
        }
    }
}

