logic-apps/upload-match-complete.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_an_HTTP_request_is_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "method": "POST",
          "schema": {}
        }
      }
    },
    "actions": {
      "Initialize_matchId": {
        "runAfter": {},
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "matchId",
              "type": "string",
              "value": "@{guid()}"
            }
          ]
        }
      },
      "Initialize_thumbnailUrl": {
        "runAfter": {
          "Initialize_matchId": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "thumbnailUrl",
              "type": "string",
              "value": ""
            }
          ]
        }
      },
      "Upload_Video_to_Blob": {
        "runAfter": {
          "Initialize_thumbnailUrl": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "post",
          "body": "@base64ToBinary(triggerBody()?['videoContent'])",
          "headers": {
            "ReadFileMetadataFromServer": true
          },
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
          "queries": {
            "folderPath": "/match-videos",
            "name": "@{concat('match-', variables('matchId'), '.mp4')}",
            "queryParametersSingleEncoded": true
          }
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        }
      },
      "Check_if_thumbnail_exists": {
        "actions": {
          "Upload_Thumbnail_to_Blob": {
            "runAfter": {},
            "type": "ApiConnection",
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['azureblob']['connectionId']"
                }
              },
              "method": "post",
              "body": "@base64ToBinary(triggerBody()?['thumbnailContent'])",
              "headers": {
                "ReadFileMetadataFromServer": true
              },
              "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
              "queries": {
                "folderPath": "/thumbnails",
                "name": "@{concat('match-', variables('matchId'), '-thumb.jpg')}",
                "queryParametersSingleEncoded": true
              }
            },
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            }
          },
          "Set_thumbnailUrl": {
            "runAfter": {
              "Upload_Thumbnail_to_Blob": [
                "Succeeded"
              ]
            },
            "type": "SetVariable",
            "inputs": {
              "name": "thumbnailUrl",
              "value": "@{body('Upload_Thumbnail_to_Blob')?['Path']}"
            }
          }
        },
        "runAfter": {
          "Upload_Video_to_Blob": [
            "Succeeded"
          ]
        },
        "expression": {
          "and": [
            {
              "not": {
                "equals": [
                  "@triggerBody()?['thumbnailContent']",
                  "@null"
                ]
              }
            }
          ]
        },
        "type": "If"
      },
      "Create_Match_Document": {
        "runAfter": {
          "Check_if_thumbnail_exists": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['documentdb']['connectionId']"
            }
          },
          "method": "post",
          "body": {
            "id": "@{variables('matchId')}",
            "teamId": "@{triggerBody()?['teamId']}",
            "matchTitle": "@{triggerBody()?['matchTitle']}",
            "matchDate": "@{triggerBody()?['matchDate']}",
            "opponent": "@{triggerBody()?['opponent']}",
            "location": "@{triggerBody()?['location']}",
            "result": "@{triggerBody()?['result']}",
            "videoUrl": "@{concat('https://sports1357.blob.core.windows.net', body('Upload_Video_to_Blob')?['Path'])}",
            "thumbnailUrl": "@{if(empty(variables('thumbnailUrl')), '', concat('https://sports1357.blob.core.windows.net', variables('thumbnailUrl')))}",
            "tags": "@{triggerBody()?['tags']}",
            "videoSize": "@{triggerBody()?['videoSize']}",
            "uploadedBy": "@{triggerBody()?['uploadedBy']}",
            "createdAt": "@{utcNow()}"
          },
          "path": "/v2/cosmosdb/@{encodeURIComponent('sprot-113992')}/dbs/@{encodeURIComponent('MediaDB')}/colls/@{encodeURIComponent('Matches')}/docs",
          "headers": {
            "x-ms-documentdb-partitionkey": "@{triggerBody()?['teamId']}"
          }
        }
      },
      "Response": {
        "runAfter": {
          "Create_Match_Document": [
            "Succeeded"
          ]
        },
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200,
          "headers": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "POST, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type"
          },
          "body": {
            "success": true,
            "message": "Match uploaded successfully",
            "matchId": "@{variables('matchId')}",
            "videoUrl": "@{body('Upload_Video_to_Blob')?['Path']}",
            "thumbnailUrl": "@{variables('thumbnailUrl')}"
          }
        }
      }
    },
    "outputs": {},
    "parameters": {
      "$connections": {
        "type": "Object",
        "defaultValue": {}
      }
    }
  },
  "parameters": {
    "$connections": {
      "type": "Object",
      "value": {
        "azureblob": {
          "id": "/subscriptions/24c03302-6462-49e9-996c-ed5accc8d702/providers/Microsoft.Web/locations/francecentral/managedApis/azureblob",
          "connectionId": "/subscriptions/24c03302-6462-49e9-996c-ed5accc8d702/resourceGroups/sportsmoments-france-rg/providers/Microsoft.Web/connections/azureblob",
          "connectionName": "azureblob"
        },
        "documentdb": {
          "id": "/subscriptions/24c03302-6462-49e9-996c-ed5accc8d702/providers/Microsoft.Web/locations/francecentral/managedApis/documentdb",
          "connectionId": "/subscriptions/24c03302-6462-49e9-996c-ed5accc8d702/resourceGroups/sportsmoments-france-rg/providers/Microsoft.Web/connections/documentdb-1",
          "connectionName": "documentdb-1"
        }
      }
    }
  }
}

